body {
  margin: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#bottom {
  background-color: #202124;
}

h1 {
  margin: 0;
}

.list-container {
  margin: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ececec;
}

.line {
  margin: 0;
  border: 1px black solid;
  background-color: black;
}

.list {
  list-style-type: none;
  display: inline-block;
  margin: 20px 50px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  cursor: pointer;
}

.header-page {
  height: 90vh;
  width: 100vw;
  background-color: #1c1c1f;
  display: flex;
  flex-direction: column;
  padding-top: 15%;
}

.title-container {
  color: #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-size: 400%;
}

div li:hover {
  color: orange;
  font-weight: bolder;
  font-size: 150%;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
  font-size: 60px;
}

.icon {
  margin: 30px;
  cursor: pointer;
}

.icon:hover {
  color: orange;
  font-size: 70px;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 120px;
}

.header {
  top: 0;
  position: fixed;
  z-index: 99;
  background-color: #1c1c1f;
}

@media screen and (max-width: 900px) {

}