.contact-page {
  background-color: #1c1c1f;
  width: 100vw;
  height: 92vh;
  padding-top: 8%;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #FFFBF5;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  color: white;
  width: 800px;
  height: 600px;
}

.contact-title {
  font-family: 'Courier New', Courier, monospace;
  color: #fcbc1d;
}